body {
  background-color: blanchedalmond;
}
.dark {
  background-color: black;
  color: white;
}
.light {
  background-color: white;
  color: crimson;
}
.center {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
